<?php

define( 'SITE_TITLE', 'Apex2.0' );

// Database details
define( 'DB_ENGINE', '[DB_ENGINE]' ); // postgresql, sqlite, mysql
define( 'DB_PATH', [DB_PATH] ); // Only used if using sqlite
define( 'DB_PORT', '[DB_PORT]' );
define( 'DB_HOST', '[DB_HOST]' );
define( 'DB_USER', '[DB_USER]' );
define( 'DB_PASS', '[DB_PASS]' );
define( 'DB_NAME', '[DB_NAME]' );

define( 'PATH_ROOT', realpath(dirname(__FILE__)) . DIRECTORY_SEPARATOR . '..' );
define( 'PATH_FUNCTIONS', PATH_ROOT . DIRECTORY_SEPARATOR . 'Functions' . DIRECTORY_SEPARATOR );
define( 'PATH_LOCALE', PATH_ROOT . DIRECTORY_SEPARATOR . 'Locale' );
define( 'PATH_LOG', PATH_ROOT . DIRECTORY_SEPARATOR . "Logs" . DIRECTORY_SEPARATOR );
define( 'PATH_TEMPLATE' , PATH_ROOT . DIRECTORY_SEPARATOR . 'Templates' . DIRECTORY_SEPARATOR );

define( 'CACHE_CSS_TIME', 86400 );
define( 'COMPRESS_CSS', true );
// Localization
define( 'DEFAULT_TIMEZONE', 'Europe/Stockholm' );
// Dynamic Localization
$GLOBALS['default_langId'] = 1;
$GLOBALS['default_lang'] = 'sv_SE';
define( 'default_encoding', 'UTF-8' );
